venv/
.venv/
env/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd

build/
dist/
*.spec

data/config.json

assets/snippets/*_AI_Commented.*

.vscode/
.idea/
.DS_Store
Thumbs.db

!data/quotes.json
!data/ai_skill.txt